{% load static %}
<!DOCTYPE html>
<html lang="ru" class="page">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{% static 'recipes/favicon.ico' %}" type="image/x-icon">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="theme-color" content="#111111">
	<title>{{ title }}</title>
	<meta name="description" content="Платформа для публикации и обмена рецептами">
	<meta property="og:type" content="website">
	<meta property="og:locale" content="ru_RU">
	<meta property="og:site_name" content="Мама, я повар!">
	<meta property="og:title" content="{{ title }}">
	<link rel="preload" href="{% static 'recipes/fonts/NunitoSans-Regular.woff2' %}" as="font" type="font/woff2"
		crossorigin>
	<link rel="preload" href="{% static 'recipes/fonts/NunitoSans-SemiBold.woff2' %}" as="font" type="font/woff2"
		crossorigin>
	<link rel="preload" href="{% static 'recipes/fonts/NunitoSans-Bold.woff2' %}" as="font" type="font/woff2" crossorigin>
	<link rel="stylesheet" href="{% static 'recipes/css/vendor.css' %}">
	<link rel="stylesheet" href="{% static 'recipes/css/main.css' %}">
	<script defer src="{% static 'recipes/js/main.js' %}"></script>
</head>

<body class="page__body">
	{% if request.get_full_path == '/new-recipe/' or 'edit_recipe' in request.get_full_path %}
	{% block navnav %}

	{% include "inc2/_nav.html" %}

	{% endblock %}
	{% elif 'settings' in request.get_full_path %}
	{% block nav %}

	{% include "inc3/_nav.html" %}

	{% endblock %}
	{% else %}
	{% block navbar %}

	{% include "inc/_nav.html" %}

	{% endblock %}
	{% endif %}

	<div class="container">
		<div class="site-container">
			<ul class="notifications  list-reset"></ul>
			{% if request.get_full_path == '/new-recipe/' or 'edit_recipe' in request.get_full_path %}
			{% block sideside %}
			{% include "inc2/_side.html" %}
			{% endblock %}
			{% elif 'settings' in request.get_full_path %}
			{% block side %}
			{% include "inc3/_side.html" %}
			{% endblock %}
			{% else %}
			{% block sidebar %}
			{% include "inc/_side.html" %}
			{% endblock %}
			{% endif %}
			{% if request.get_full_path == '/' %}
			<main class="index" id="skip-link">
				{% block content %}{% endblock %}
			</main>
			{% elif 'search' in request.get_full_path %}
			<main class="search" id="skip-link">
				{% block content1 %}{% endblock %}
			</main>
			{% elif request.get_full_path == '/new-recipe/' or 'edit_recipe' in request.get_full_path %}
			{% block concon %}{% endblock %}
			{% else %}
			{% block post %}{% endblock %}
			{% endif %}
		</div>
	</div>

	{% block modal %}
	{% include "inc/_modals.html" %}
	{% endblock %}

	{% if 'edit_recipe' in request.get_full_path %}
	<script>
		let uploadedImage = `{{ recipe.photo.url }}`;
	</script>
	{% endif %}

	<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

	{% block js-icons %}
	{% include "inc/_js-icons.html" %}
	{% endblock %}

	{% block js-functions %}
	{% include "inc/_js-functions.html" %}
	{% endblock %}
</body>

</html>
